@import '@/app/breakpoints.module';

$main-orange-color: #EE5622;
$main-white-color: #FFF;
$main-black-color: #08071B;
$main-grey-color: #B8BABF;
$main-blue-color: #3362DB;
$main-error-color: #FF2323;
$main-border-color: #B8BABF;
$main-subtext-color: #717375;
$main-button-bg-radius: 100px;
$main-inter-font: var(--font-inter);
